.nav-btn {
    all: unset;
    cursor: pointer;
}

.active-btn {
    display: inline-block;
    background-color: hsl(51, 100%, 49%);
    color: #000;
    padding: .5em 1em;
    border-radius: 5em;
    text-transform: uppercase;
    font-weight: bold;

    @media only screen and (min-width: 768px) {
        background-color: #fff;
        color: #000;
    }
}