.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 2em;
    background-color: hsl(168, 34%, 41%);

    > .secondary-menu {
        margin-top: 2em;
    }

    > .social-menu {
        margin-top: 3.5em;
    }
}